@import "components/container";
@import "components/navbar";
@import "abstracts/variables";
@import "pages/home";
@import "components/grids";
@import "components/tutor-card";
@import "components/partner-card";
@import "components/footer";
@import "components/tutor-modal";
@import "components/appointment-card";
@import "components/tutor-dashboard";

body {
  background-color: $color-background;
}

.App {
  position: relative;
  min-height: 100vh;
}