@import "components/container";
@import "components/navbar";
@import "variables";
@import "pages/home";
@import "pages/about";
@import "pages/team";
@import "pages/volunteer";
@import "pages/partners";
@import "pages/form";
@import "components/grids";
@import "components/tutor-card";
@import "components/partner-card";
@import "components/footer";
@import "components/tutor-modal";
@import "components/appointment-card";
@import "components/tutor-dashboard";
@import "components/flash-message";
@import "components/avatar";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Jura', sans-serif;
  font-size: 1.2rem;
}