.appointment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
  background-color: #FFD6BA;
  max-width: 180px;
}

.tutor-appointments {
  display: flex;
  flex-wrap: wrap;
}