.footer {
  width: 100%;
  background-color: #f4f5f8;
  color: $color-header-text;
  flex-shrink: 0;
}

.footer-contents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 1px solid $color-header-text;
}

.footer-contents-no-border {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contents-extra-small {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 0.8rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
