.footer {
  width: 100%;
  background-color: #FFD6BA;
  color: $color-header-text;

}

.footer-contents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 1px solid $color-header-text;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}