.footer {
  width: 100%;
  background-color: #f4f5f8;
  color: $color-header-text;
  margin-top: 20px;
}

.footer-contents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 1px solid $color-header-text;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 990px) {
  .footer-contents {
    border-right: none;
    margin-bottom: 20px;
  }
}

