.navbar {
  background-color: #8D89A5;
  padding: 0 16px !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  padding: 0 10px !important;
  color: white !important;
  transition: 0.5s;
  &:hover {
    color: #E0B643 !important;
  }
}