.partner-card {
  padding: 10px;
  border-radius: 5px;
  background-color: #89B0AE;
  display: flex;
  box-shadow: 2px 2px 2px gray;
  max-width: 375px;
}

.partner-card-image {
  min-width: 150px;
  min-height: 200px;
  background-color: black;
  margin-right: 10px;
  border-radius: 5px;
}

.partner-card-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}